* { 
    margin: 0px;
    padding:0px;
    
}
body{
    background-image:url(./imagenes/wall\ pokemon\ montañas.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1 ;
    scroll-behavior: smooth;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  
}
 .tab {
 	display:flex;
 	align-items: center;
 	justify-content: space-between;
  /*border-right: black;*/
    text-decoration: none;
    padding-left: 2rem;
    text-align: center;
    color:#e5e5e5; 
    font-family: Roboto Condensed;
    font-size: 16px;
}
nav { 
    background:#353534;
    margin-right: 3.75rem;
    width: 100vw;
    height: 5.125rem;
    display: flex;
    justify-content: flex-end;
}
 .logo {
 	display: flex;
 	justify-content: flex-start;
 	align-items: center;
 	margin-left: 3.75rem;
}
header {
    width: 100%;
    height: 5.125rem;
    display: flex;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    top: 0;
    background-color:#353534;
}
.pokeworld{
    width: auto;
    display: inline-block;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    height: 500px;
    
}   
.pokenews{
    display: flex;
    justify-content: center;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    background-color:rgba(37, 91, 57,0.5);
    height: 1000px;

}
.ranking{
    display: flex;
    justify-content: center;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    background-color:rgba(37, 91, 57,0.5);
    height: 1000px;
}
.maps{
    display: flex;
    justify-content: center;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    background-color:rgba(37, 91, 57,0.5);
    height: 1000px;
}     


main{
    width: 100%;
    display: inline-block;
    flex-direction:column;
    justify-content:center;
    padding-top:6.25rem;
    
}


.namebtn { 
    display: block;
}
.pokepedia {
    padding:100px;
    display: inline-flex;
    flex-direction: column;
 
}
#allpoke { 
    padding:50px;
    display:flex;
    align-content: center;
    flex-direction: row;
    justify-content:space-around;
    
}
#card {
    justify-content: space-between; 
    display: block;
    background:rgba(37, 91, 57,0.5);
    padding: 1.875rem;
    border: 2px #df4b07;
    width: 15rem;
    height: 50rem;
    text-align:center;
    
}
.class {
    font-size:12pt;
}
/*
@media ( max-width:700px){
    nav{ 
        background: pink;
        flex-direction: column;
    }
    .menu{
        margin: 10px 0px;
    }
    .menuboton{
            display: inline-block;       
    }
    .hide {
        display: none;
    }
}*/