* { 
    margin: 0px;
    padding:0px;
    
}
body{
    background-image:url(./imagenes/wall\ pokemon\ montañas.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1 ;
    scroll-behavior: smooth;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  
}

 .tab {
 	display:flex;
 	align-items: center;
 	justify-content: space-between;
  /*border-right: black;*/
    text-decoration: none;
    padding-left: 2rem;
    text-align: center;
    color:#e5e5e5; 
    font-family: Roboto Condensed;
    font-size: 16px;
}

nav { 
    background:#353534;
    margin-right: 3.75rem;
    width: 100vw;
    height: 5.125rem;
    display: flex;
    justify-content: flex-end;
}
 .logo {
 	display: flex;
 	justify-content: flex-start;
 	align-items: center;
    margin-left: 3.75rem;
    

}
header {
    width: 100%;
    height: 5.125rem;
    display: flex;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    top: 0;
    background-color:#353534;
}
.pokeworld{
    width: auto;
    display: inline-block;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    height: 815px;
    text-align: center;
    align-items: center;
    
}   
.pokenews{
    padding-top:20px;
    margin-bottom: 2rem;
    display:flex;
    justify-content: center;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    background-color:rgba(37, 91, 57,0.5);
    height: 815px;
    text-align: center;    
}
.ranking{
    padding-top:20px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    background-color:rgba(37, 91, 57,0.5);
    height: 815px;
}
.maps{
    padding-top:20px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    background-color:rgba(37, 91, 57,0.5);
    height: 815px;

}     
/* main de   indexhtml*/
/*.main{
    width: 100%;
    display: inline-block;
    flex-direction:column;
    justify-content:space-between;
    padding-top:6.25rem;   
}
*/
/* main de Pokepedia*/
.pokepedia {
    padding-top:6.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: inline-block;
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content:space-between;
    background-attachment: fixed;
    z-index: -1 ;
    scroll-behavior: smooth;
    color:green;

 
}
#allpoke { 
    padding:50px;
    margin-left: 2rem;
    margin-right: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgba(37, 91, 57,0.5);
    display:flex;
    align-content: center;
    flex-direction: row;
    justify-content:space-around;
    
}
#selectorType{
    padding-left: 1em;
    margin-left: 2em;
    background-color: rgba(37, 91, 57,0.5);
    color: #0a5203;
}
.card {
    justify-content: space-between; 
    display: inline-block;
    background-image: url(./imagenes/backgroundCards.png);
    background-size: cover;
    padding: 1.875rem;
    margin-bottom: 2rem;
    text-align:center;
    max-width: 237px;
    max-height: 267px;
    align-items: flex-start;
    
}
.imaconteiner {
    display: inline-block;
    
    
    
}
.container{
  display: grid;
  grid-template-columns: 1fr 6fr;
}

/*imagen */
.ima {
    width: 150px;
    
}
.class {
    font-size:10pt;
}


/*AUTOCOMPLETE TEXTBOX*/
/*the container must be positioned relative:*/
/*.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #aec2c2;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #aec2c2;
  width: 100%;
}



.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99; */
  /*position the autocomplete items to be the same width as the container:*/
  /*top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #aec2c2; 
  border-bottom: 1px solid #d4d4d4; 
}
*/
/*when hovering an item:*/
/*.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}*/

/*when navigating through the items using the arrow keys:
.autocomplete-active {*/
 /* background-color: DodgerBlue !important; 
  color: #aec2c2; 
}

#myInput {
    width: 75%;
    color: green;
}*/
